body {
  margin: 0;
  display: flex;
  font-family: "Poppins", sans-serif;
}

#header {
  width: 100vw;
  z-index: 10;
  height: 68px;
  padding: 0px 16px;
  background-color: rgb(244, 67, 54);
  position: fixed;
  top: 0px;
  display: none;
  align-items: center;
}

#header a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 8px 16px;
  margin-right: 16px;
}

#header a:hover {
  color: black;
  background-color: gray;
}

#header span {
  font-size: 24px;
  color: white;
}
#left-side {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background-color: rgb(244, 67, 54);
  height: calc(100vh - 32px);
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
}

#left-side h3 {
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 64px 16px;
  margin: 10px 0px;
}

#left-side a {
  padding: 8px 16px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

#left-side a:hover {
  background-color: white;
  color: black;
}

#right-side {
  width: 100%;
  margin-top: 80px;
  margin-left: 360px;
  transition: margin-left 0.5s ease;
}

#right-side-title h1 {
  font-size: 64px;
  margin: 0;
}

#right-side-title h4 {
  font-size: 48px;
  color: rgb(244, 67, 54);
  margin: 0;
}

#right-side-title hr {
  width: 50px;
  border-radius: 5px;
  border: 5px solid rgb(244, 67, 54);
  margin: 20px 0px;
}

#img-container {
  width: 100%;
}
#img-container img {
  opacity: 0.8;
  margin-bottom: -6px;
  margin-top: 16px;
  width: 45%;
  cursor: pointer;
}

#img-container img:hover {
  opacity: 1;
}

#services {
  width: 100%;
  margin-top: 80px;

  transition: margin-left 0.5s ease;
}

#services-title h4 {
  font-size: 48px;
  color: rgb(244, 67, 54);
  margin: 0;
}

#services-title hr {
  width: 50px;
  border-radius: 5px;
  border: 5px solid rgb(244, 67, 54);
  margin: 20px 0px;
}

#designers {
  margin-top: 80px;

  transition: margin-left 0.5s ease;
}

#designers-title h4 {
  font-size: 48px;
  color: rgb(244, 67, 54);
  margin: 0;
}

#designers-title hr {
  width: 50px;
  border-radius: 5px;
  border: 5px solid rgb(244, 67, 54);
  margin: 20px 0px;
}

.text-wrapper {
  width: calc(100%-20px);
  padding: 0px 10px;
}

.text-box {
  width: 30%;
  background-color: lightgray;
}

#packages {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  transition: margin-left 0.5s ease;
}

#packages-basic {
  width: 45%;
}

#packages-pro {
  width: 45%;
}
#packages-title h4 {
  font-size: 48px;
  color: rgb(244, 67, 54);
  margin: 0;
}

#packages-title hr {
  width: 50px;
  border-radius: 5px;
  border: 5px solid rgb(244, 67, 54);
  margin: 20px 0px;
}

#boxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

.boxes {
  background-color: gray;
  padding: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.basicboxes {
  background-color: #ddd;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border-bottom: 1px solid #bbb;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxprice {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #bbb;
}

.basicboxestext {
  padding: 0px 100px;
}

#basicbutton {
  padding: 12px 24px;
  font-size: 16px;
  background-color: white;
  margin-top: 16px;
  color: black;
  border: none;
  width: 109px;
  height: 48px;
  font-family: "Poppins", sans-serif;
}

#probutton {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #f44336;
  margin-top: 16px;
  color: white;
  border: none;
  width: 109px;
  height: 48px;
  font-family: "Poppins", sans-serif;
}

#inputarea {
  width: 95%;
  height: 40px;
  border-radius: 0px;
  border: 1px solid gray;
}

#sendmessage {
  margin-top: 40px;
  height: 50px;
  width: 95.5%;
  color: white;
  border: none;
  background-color: #f44336;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

#sendmessage:hover {
  background-color: #bbb;
  color: black;
}

#footertext {
  background-color: #f1f1f1;
  margin-top: 100px;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #header {
    display: flex;
  }
  #left-side {
    display: none;
  }

  #right-side {
    margin-left: 16px;
    transition: margin-left 0.5s ease;
  }
}
